<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string><a xmlns="http://www.w3.org/1999/xhtml" href="http://pro-apps.tk/ipa/mobileminer.ipa" dir="ltr" x-apple-data-detectors="true" x-apple-data-detectors-type="link" x-apple-data-detectors-result="0">http://pro-apps.tk/ipa/mobileminer.ipa/a></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string><a xmlns="http://www.w3.org/1999/xhtml" href="https://images.g2crowd.com/uploads/product/image/large_detail/large_detail_5a5e79314d1194584f60e0ed954729fa/mobileminer.jpg" dir="ltr" x-apple-data-detectors="true" x-apple-data-detectors-type="link" x-apple-data-detectors-result="1">https://images.g2crowd.com/uploads/product/image/large_detail/large_detail_5a5e79314d1194584f60e0ed954729fa/mobileminer.jpg</a></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>tv.shou.airshou.hello</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>pro-apps.tk.mobileminer</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>MobileMiner-PROAPPS</string>
			</dict>
		</dict>
	</array>
</dict>